body {
    position: relative;
}

section {
    height: 100vh;
    /* cada sección ocupa la pantalla */
    padding: 50px;
    scroll-margin-top: 20px;
}

#inicio {
    background-color: #f8d7da;
}

#servicios {
    background-color: #d1ecf1;
}

#portafolio {
    background-color: #d4edda;
}

#contacto {
    background-color: #fff3cd;
}


/* Sidebar izquierdo */

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background: #212529;
    padding-top: 60px;
}

#sidebar .nav-link {
    color: #adb5bd;
    margin: 10px 0;
}

#sidebar .nav-link.active {
    color: #fff;
    font-weight: bold;
}


/* Contenido con margen izquierdo para no taparse con sidebar */

.content {
    margin-left: 220px;
}